a{
    text-decoration: none;
    color: #D3D3D3;
}
button{
    border-radius: 5px ;
    border: 5px solid #D3D3D3;
    /* background-color:#777777; */
    /* margin: auto; */
}
button a{
    color: white;
}
/* largeur de l'écran desktop*/
/* @media all and (max-width: 1024px)
{
    main, header, footer
    {
        height: auto;
        width: auto;
    }
} */
html{
    margin-left: auto;
    margin-right: auto;
}
#logo{
    width: 110px;
    height: auto;
    /* border: 10px solid #D3D3D3; */
    border-radius: 20px 20px;
    /* color: black; */
}
/*header*/
header{
    background-color:black;
    height: auto;
    padding-bottom: 25px;
    color: black;
    /* width:auto; */
}
header a{
    font-size: small;
}
#naviguation {
    background-color: white;
    
}
#naviguation a{
    color: black;
    font-size: 1.1em;
    font-weight: bolder;
}
.nom_prenom{
    position:absolute;
    top:40px;
    right:85px;
}
header.nom_prenom a{
    font-weight: bolder;
}
/*main*/
main{
    background-color: #545454;
    height: auto;
    padding: 20px;
}
/*footer*/
footer{
    
    background-color:black;
    /* width: auto; */
    height: 100px;
    padding-top: 30px;
}
footer ul a{
    color: #ffffff;
}
footer ul li{
    
    display: inline-block;
    list-style-type: none;
 }
footer ul{
    text-align: center;
    
}
#pied_de_page a{
    font-size: small;
}
/* page index 
------------------------------
------------------------------
*/
.acteurs a{
    text-decoration: none;
}
.commentaire{
    border: 2px solid black;
    padding: 10px;
}
.presentation{
    background-color: #D3D3D3;
    /* border: 10px solid white; */
    padding: 10px;
}
.section_acteurs{
    background-color: #D3D3D3;
    /* border-radius: 30px; */
    padding: 10px;
}
.acteurs {
    padding: 10px;
    position: relative;
    border: 10px solid white;
}
.acteurs button {
    float: right;
    color: black;
    background-color: #545454;
    border-radius: 8px;
}
.acteurs a img {
    border-radius: 60px;
    width: 200px;
    height: 100px;
    text-align: center;
}
  /*Page acteur
  -----------------------------------
  -----------------------------------
  */
  .description_acteur{
    background-color: #D3D3D3;
    /* border-radius: 30px; */
    padding: 10px;
  }
.p1{
    line-height: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.p2{
    line-height: 0.5em;
    font-size: x-small;
    font-weight: lighter;
}
.p3{
    line-height: 0.5em;
    font-size: 1em;
    font-weight: normal;
}
 #logo_acteur{
    border-radius:60px;
    width: 400px;
    text-align: center;
    margin-top: 10px;
  }
  /*espace de commentaires*/
  textarea{
      background-color:white;
  }
.comment .table_comment{
    display: block;
    margin: 10px;
    /* padding: 2px; */
    padding-left: 10px;
    padding-top: 1px;
    width: 600px;
    height: 80px;
    border-radius: 8px;
    background-color:white;
  }
.newComment{
    margin-top: 60px;
}
.button{
    margin: 50px;
    padding: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}
input[type=checkbox] {
    display: none;
  }
#newComment{
      margin-bottom: 150px;
      display: none;
  }
  #right_part{
      display: inline-block;
  }
  /*espace de like/dislike*/
  .vote{
      width: 150px;
      float: right;
      
  }
  .vote form {
    display: inline-block;
}
  .vote_bar{
      width: 100%;
      height: 4px;
      margin-right: 10px;
      background-color: #f2504b;
      
  }
  .vote_progress{
      width: 0%;
      height: 4px;
      background-color: #63b96b;
  }
  .vote_btns{
      text-align: right;
     
  }
  .vote_btn{
      display: inline-block;
      cursor: pointer;
      border: none;
      padding: 0;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
      background: transparent;
      transition: color 0.3s;
  }
  .vote_like:hover{
    color: #63b96b;
  }
  .vote_dislike:hover{
      color: #f2504b;
  }
  .vote_like:active{
    color: #63b96b;
    border: none;
  }
  .vote_dislike:active{
    color: #f2504b;
    border: none;
  }
  /* input[type=checkbox]:checked~.remove-check {
    display: none;
  }
   */
  input[type=checkbox]:checked~#newComment {
    display: block;
  }
  
  
  /*Page inscription*/
  .page_inscription{
      width:100%;
  }
  /*Page connexion*/
  main .connexion{
      padding-top: 50px;
      width: auto;
      /* height: auto; */
      height: 400px;
  }
  .connexion input{
      height: 40px;
      width: 170px;
      margin: 20px;
      border-radius: 5px;
  }
  .connexion button{
    cursor: pointer;
    background-color: white;
    border: white;
  }
  /*Page parametre de compte*/
  .profil{
    margin-left: 500px;
    margin-right: 500px;
    background-color: white;
    padding: 50px;
  }
  main .profil{
    width: auto;
    height: 300px;
  }
  .profil a{ 
      color: black;
  }
.changed_password button{
    cursor: pointer;
    background-color: #545454;
    border: #545454;
}
.changed_password input{
    background-color:#545454;
    border: #545454;
    padding: 6px;
    margin: 20px;
    border-radius: 5px;
}
/* quand le curseur est sur le champ */
input{
    border: #959595;
}
 