a{
    text-decoration: none;
}
button{
    border-radius: 5px ;
    border: 5px solid #777777;
    background-color:#777777;
    margin: auto;
}
button a{
    color: white;
}
/* largeur de l'écran desktop*/
/* @media all and (max-width: 1024px)
{
    main, header, footer
    {
        height: auto;
        width: auto;
    }
} */
html{
    margin-left: auto;
    margin-right: auto;
}
#logo{
    width: 150px;
    height: auto;
}
/*header*/
header{
    background-color:#4C4C4C;
    color: #ffffff;
    height: auto;
    padding-bottom: 30px;
    /* width:auto; */
}
/*main*/
main{
    background-color: 	#959595;
    height: auto;
    padding: 20px;
}
/*footer*/
footer{
    
    background-color:#545454;
    /* width: auto; */
    height: 100px;
    padding-top: 30px;
}
footer ul a{
    color: #ffffff;
}
footer ul li{
    
    display: inline-block;
    list-style-type: none;
 }
footer ul{
    text-align: center;
    
}
/* page index 
------------------------------
------------------------------
*/
.acteurs{
    
    
}
.acteurs a{
    text-decoration: none;
}
.commentaire{
    border: 2px solid black;
    padding: 10px;
}
.presentation{
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 10px;
}
.section_acteurs{
    background-color: #D3D3D3;
    border-radius: 30px;
    padding: 10px;
}
.acteurs {
    padding: 10px;
    position: relative;
}
.acteurs button {
    float: right;
}
.acteurs a img {
    border-radius: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
}
  /*Page acteur
  -----------------------------------
  -----------------------------------
  */
.p1{
    line-height: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.p2{
    line-height: 0.5em;
    font-size: x-small;
    font-weight: lighter;
}
.p3{
    line-height: 0.5em;
    font-size: 1em;
    font-weight: normal;
}
 #logo_acteur{
    border-radius: 20px;
    width: 400px;
    text-align: center;
    margin-top: 10px;
  }
  /*espace de commentaires*/
  textarea{
      background-color: #D3D3D3;
  }
.comment .table_comment{
    display: block;
    margin: 10px;
    /* padding: 2px; */
    padding-left: 10px;
    padding-top: 1px;
    width: 600px;
    height: 80px;
    border-radius: 8px;
    background-color:#bbbbbb;
  }
.newComment{
    margin-top: 60px;
}
.button{
    margin: 50px;
    padding: 15px;
    font-weight: bold;
    background-color: #bbbbbb;
    cursor: pointer;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}
input[type=checkbox] {
    display: none;
  }
#newComment{
      margin-bottom: 150px;
      display: none;
  }
  #right_part{
      display: inline-block;
  }
  /*espace de like/dislike*/
  .vote{
      width: 150px;
      float: right;
      
  }
  .vote form {
    display: inline-block;
}
  .vote_bar{
      width: 100%;
      height: 4px;
      margin-right: 10px;
      background-color: #f2504b;
      
  }
  .vote_progress{
      width: 0%;
      height: 4px;
      background-color: #63b96b;
  }
  .vote_btns{
      text-align: right;
     
  }
  .vote_btn{
      display: inline-block;
      cursor: pointer;
      border: none;
      padding: 0;
      margin: 0;
      margin-left: 10px;
      margin-right: 10px;
      background: transparent;
      transition: color 0.3s;
  }
  .vote_like:hover{
    color: #63b96b;
  }
  .vote_dislike:hover{
      color: #f2504b;
  }
  .vote_like:active{
    color: #63b96b;
    border: none;
  }
  .vote_dislike:active{
    color: #f2504b;
    border: none;
  }
  /* input[type=checkbox]:checked~.remove-check {
    display: none;
  }
   */
  input[type=checkbox]:checked~#newComment {
    display: block;
  }
  
  
  /*Page inscription*/
  .page_inscription{
      width:100%;
  }
  /*Page connexion*/
  main .connexion{
      padding-top: 50px;
      width: auto;
      /* height: auto; */
      height: 500px;
  }
  /*Page parametre de compte*/
  .profil{
    margin-left: 300px;
    margin-right: 300px;
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    height: 500px;
  }
.changed_password{
    background-color: #D3D3D3;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.changed_password input{
    
}
 